.symptom-block { 
  margin: 2%; 
  padding: 30px; 
  font-size: 25px;
  background-color: #c0c0c0;
  width: 90%;
   
}

.bool-symptom {
  margin: 2%; 
  background-color: #c0c0c0;
  color: black;
  font-size: 25px;
  padding: 5px;
  
}
 
 
@font-face {
 
font-family: Acherus Grotesque;
src: url('fonts/acherus_grotesque_-_regular-webfont.woff') format('woff');
 
}
 
.ember-power-select-multiple-option {
	background-color: #c0c0c0;
	color: black;
	
}
 
body {
 
  background-color: #f7f6f6;
  color: black;
  font-family: Acherus Grotesque;
 
}

.panel-body{
	
	background-color: #f7f6f6;
	
}
 

.slider slider-horizontal{
	 
	float:left; 
	clear: left;
 }
 
h1 {
 
    color: black;
 
}

#ember-basic-dropdown-wormhole{
    transition: cubic-bezier(0.19, 1, 0.22, 1);
    transition-duration: 34ms;
}
 

 
#ember-bootstrap-wormhole {
 
    border-top:solid #c02410 50px;
 
}

.multi-select {
 
  font-family: Acherus Grotesque;
    background-color: #c0c0c0;
    color: white;
    padding: 5px;
    font-size: 20px;
    border: none;
    cursor: pointer;
 
}

.my-textarea {
	width: 100%;
  font-family: Acherus Grotesque;
}

.ember-power-select-multiple-option {
	padding: 5px;
    font-size: 20px;
}

.slidecontainer {
    width: 100%;
 
}

.slider {
 
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
 
}
 
.slider-symptom{
    padding-bottom: 10px;
}

.slider:hover {
    opacity: 1;
 
}
 
.ember-text-field{
    margin-left: -2.5px;
}
 
.slider::-webkit-slider-thumb {
 
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #801515;
    cursor: pointer;
 
}

.slider::-moz-range-thumb {
 
    width: 25px;
    height: 25px;
    background: #801515;
    cursor: pointer;
 
}
