<div class="panel panel-default">
  <div class="panel-body">

    <div class="table-full-width">
      <table class="table">
        <thead>
          <tr>
            {{#each patients as |patient|}}
            <th scope="col">{{patient.name}}</th>
            <th scope="col">{{patient.name}}</th>
            <th scope="col">{{patient.name}}</th>
			{{/each}}
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>