<div class="panel panel-default">
  <div class="panel-body">

    <div class="table-full-width">
      <table class="table">
        <thead>
          <tr>
            {{#each symptom as |sym|}}
            <th scope="col">{{sym.name}}</th>
            <th scope="col">{{sym.name}}</th>
            <th scope="col">{{sym.name}}</th>
		    <th scope="col">{{sym.name}}</th>
			{{/each}}
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>