<div class="panel panel-default">

	<div class="panel-heading">
		<h1>Log Symptoms</h1>

		{{#power-select-multiple
			options=symptomOptions
			placeholder="Select you current sypmtoms."
			selected=selectedSymptoms
			onchange=(action (mut selectedSymptoms))
			as |symptom|
		}}
		  {{symptom}}
		{{/power-select-multiple}}
	</div>
	
	{{#each selectedSymptoms as |sym|}}
		{{#bool-symptom}}
			{{sym}}
		{{/bool-symptom}}
	{{/each}}
</div>