<div class="panel panel-default">

	<div class="panel-heading">
		<h1>Log Symptoms</h1>

		{{#power-select-multiple
			options=symptomOptions
			placeholder="Select you current sypmtoms."
			selected=selectedSymptoms
			onchange=(action (mut selectedSymptoms))
			as |symptom|
		}}
		  {{symptom.name}}
		{{/power-select-multiple}}
	</div>
	
	<div class="panel-body">
		<div class="container-fluid">
			{{#each selectedSymptoms as |sym|}}
				<div class="row">
					<div class="symptom-block">
						{{#bool-symptom}}
							{{sym.name}}
						{{/bool-symptom}}
					</div>
				</div>
				<div class="row">
					<div class="symptom-block">
						{{#slider-symptom}}
							{{sym.name}}
						{{/slider-symptom}}
					</div>
				</div>
				<div class="row">
					<div class="symptom-block">
						{{#text-symptom}}
							{{sym.name}}
						{{/text-symptom}}
					</div>
				</div>
			{{/each}}
		</div>
	</div>
</div>