<div class="panel panel-default">

	<div class="panel-heading">
		<h1>Log Symptoms</h1>

		{{#power-select-multiple
			options=symptomOptions
			placeholder="Select you current sypmtoms."
			selected=selectedSymptoms
			onchange=(action (mut selectedSymptoms))
			as |symptom|
		}}
		  {{symptom}}
		{{/power-select-multiple}}
	</div>
	
	{{#each selectedSymptoms as |sym|}}
		<div class="symptom-block">
			{{#bool-symptom}}
				{{sym}}
			{{/bool-symptom}}
		</div>
		<div class="symptom-block">
			{{#slider-symptom}}
				{{sym}}
			{{/slider-symptom}}
		</div>
		<div class="symptom-block">
			{{#text-symptom}}
				{{sym}}
			{{/text-symptom}}
		</div>
	{{/each}}
</div>