<div class="panel panel-default">
  <div class="panel-body">

    <div class="graphgif">
      <img src="assets/line-graph-dribbbble.gif">
    </div>
    <p>Source:https://dribbble.com/shots/1193020-Line-Graph-gif</p>
  </div>
</div>